<web-app>
	<context-param>
		<param-name>state</param-name>
		<param-value>KA</param-value>
	</context-param>
	<context-param>
		<param-name>city</param-name>
		<param-value>Blore</param-value>
	</context-param>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.cgiindia.servlets.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test.jlc</url-pattern>
	</servlet-mapping>

</web-app>