<web-app>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
<servlet>
<servlet-class>com.listenerdemo1.servlets.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logoutServlet</servlet-name>
<url-pattern>/logout.jlc</url-pattern>
</servlet-mapping>
<listener>
<listener-class>com.listenerdemo1.listener.MyContextListener</listener-class>
</listener>
<listener>
<listener-class>com.listenerdemo1.listener.MySessionListener</listener-class>
</listener>
</web-app>