<web-app>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>testServlet</servlet-name>
<servlet-class>com.listenerdemo.servlets.TestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>testServlet</servlet-name>
<url-pattern>/test.jlc</url-pattern>
</servlet-mapping>
<listener>
<listener-class>com.listener.demo.MyContextListener</listener-class>
</listener>
<listener>
<listener-class>com.listener.demo.MyContextAttributeListener</listener-class>
</listener>
<listener>
<listener-class>com.listener.demo.MyRequestListener</listener-class>
</listener>
<listener>
<listener-class>com.listener.demo.MySessionListener</listener-class>
</listener>
</web-app>
